<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🦁👑</key>
	<string>Lion King</string>
	<key>🌉😎</key>
	<string>Bridge of Spies</string>
	<key>🌪🐶</key>
	<string>Wizard of Oz</string>
	<key>✈️✈️✈️✈️</key>
	<string>Airplanes</string>
	<key>😱🎬</key>
	<string>Scary Movie</string>
</dict>
</plist>
